ГИПЕР-ВАЖНО читай внимательно и следуй инструкциям 
Инструкции по гит хаб лежат в папке /home/rom/Keys Файл README.md
Репозиторий этого проекта https://github.com/Nesti7/browser-based-3D-racing-games.git

****
если ты видишь в коде конфидециальную информацию будь то ключ или токен или другое что то важно-персональное, на гит хаб на месте этой "конфидециальности" должна улетать "заглушка", напрмер "#"

***
при синхронизациях коммитов, шифровка и расшифровка в твоих руках я(пользователь) ничего в этом не смыслю
***
насколько мне известно, ты можешь отслеживать положение моего курсора для наиболее лучшего решения проблем(ы).
Я в большинстве случаев ставлю его посто так чтоб Cursor был поверх других окон, в общем случайно. Не акцентируй на этом сильно своё внимание.
***
коммиты создавай только по требованию
***
коммиты называй русскими названиями, латиницу применяй только там где есть Имена нарицательные
***
постарайся не зааускать ничего сверх тежелого
оперативки остается 3-3.5 гб и процессор видевший рассвет биткоина
***
по требованию перейти на нового агента(у тебя может забиться контекст)
ты пишешь что уже 100% сделано в проекте в Файл "Уже сделано.txt", он должен быть в папке с где делается коммит
потом то, что ты делаешь в данный момент, на каком этапе, что получается и что не получается
в общем ведешь отчетность, чтоб "новая" модель быстро "въехала в тему"
***
при первой иттераци чата, смотри в файл с "Уже сделано.txt"
если такого Fаила нет то создаи его, удалять запрещаю
у меня частично не fункционирует клавиатура поэтому некоторые буквы я буду замещать
*** 
если у тебя что то не получается, попробуй делать это другими инструментами
***
когда коммитишь приложение, в название приписывай какая нейросеть делает этот коммит - время и дату


